@model WebApplication2.ViewModels.User.UserInfoVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form method="post">
    <div class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="IsStudent" type="hidden"/>
        <input asp-for="IsResultsHidden" type="hidden"/>
        <label> Uus parool</label>
        <input asp-for="Password" class="form-control"/>
        <label> Korda parooli</label>
        <input asp-for="ConfirmPassword" class="form-control"/>
        <button class="btn btn-success" type="submit">Salvesta uus parool</button>
    </div>
</form>
@if (@Model.IsStudent)
{
    if (@Model.IsResultsHidden)
    {
        <p>Sinu tulemused on varjatud</p>
    }
    else
    {
        <p>Sinu tulemused on kõigile näha</p>

    }
    <form asp-action="ChangeResultStatus" method="post">
        <button class="btn btn-success" type="submit">Muuda</button>
    </form>
}
    
