@using Core.Data.Entities
@model ExerciseListVm
@{
    ViewData["Title"] = "Õpilased";
}

<h1>Vali klass</h1>

<div class="row">
    <div class="col">
        <div class="form-group">
            <form asp-action="List" method="get">
                <h2 style="margin-top: 10px">Leia harjutus:</h2>
                <input id="findInput" placeholder="Otsi harjutust" class="form-control " style="margin-bottom: 10px" name="name" type="text" value=@Context.Request.Query["name"]>

                <button style="margin-bottom: 10px" class="btn btn-primary">Otsi</button>
                <a style="margin-bottom: 10px" class="btn btn-success "asp-action="Create"asp-controller="Exercise" method="get">
                    Loo uus harjutus
                </a>

            </form>
        </div>
    </div>
</div>

<div class="row-3">
    <table class="table table-striped table-bordered nowrap" style="width: 100%">
        <thead>
        <tr>
            <th>Harjutus</th>
            <th>Klass</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <form asp-action="ClassResults" asp-controller="SchoolClasses" method="get">

            <tr>
                <td>
                    <div class="form-group">
                        @{
                            var exerciselist = new SelectList(Model.Exercises, "Id", "Name");
                            if (!exerciselist.Any())
                            {
                                <a style="margin-bottom: 10px" class="btn btn-primary "asp-action="List" method="get">
                                    Näita kõiki
                                </a>
                                <p>Ühtegi harjutust ei leitud : <label id="inputLabel">@Context.Request.Query["name"]</label> </p>
                            }
                            else
                            {
                                <select id="exID"class="form-control"name="exerciseId" asp-items="exerciselist">
                                </select>
                            }
                        }
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @{
                            var list = new SelectList(Model.Classes, "Id", "Name");
                            <select class="form-control"name="classId" asp-items="list">
                            </select>
                        }
                    </div>
                    <div class="form-group">
                        @{
                            var sugu = new {Id = (int) Gender.Man, Name = "Poisid"};
                            var sugu2 = new {Id = (int) Gender.Woman, Name = "Tüdrukud"};

                            var list2 = new SelectList(new[] {sugu, sugu2}.ToList(), "Id", "Name");
                            <select class="form-control" name="gender" asp-items="list2">
                            </select>
                        }
                    </div>
                </td>
                <td>
                    <button class="btn btn-primary"type="submit">Vaata tulemusi</button>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>
