@model IEnumerable<WebApplication2.ViewModels.Results.ClassVm>
@{
    ViewData["Title"] = "Õpilased";
}
<div class="container">
    <div class="row">
        @foreach (var schoolClass in Model)
        {
            <a asp-controller="Student" asp-action="AddStudent" asp-route-schoolClassId="@schoolClass.Id">@schoolClass.Name</a>
        }
    </div>
</div>



