@using Core.Data.Entities
@model LeaderboardListVm
@{
    ViewData["Title"] = "Harjutused";
}

<div class="row mb-4">
    <div class="col">
        <form asp-action="Leaderboard" method="get">
            <div class="form-row">
                <div class="col-lg">
                    <input id="findInput" placeholder="Otsi harjutust" class="form-control" name="name" type="text" value=@Context.Request.Query["name"]>
                </div>
                <div class="col-lg-auto">
                    <button class="btn btn-wide btn-primary d-block mt-2 mt-lg-0">Otsi</button>
                </div>
            </div>
        </form>
    </div>
</div>

@* <div class="row"> *@
@*     <div class="col-lg-4 col-md-6"> *@
@*         olen 4 *@
@*     </div> *@
@*     <div class="col-lg-4 col-md-6"> *@
@*         olen 4 *@
@*     </div> *@
@*     <div class="col-lg-4"> *@
@*         <button class="btn btn-primary">Button</button> *@
@*     </div> *@
@* </div> *@

<div class="row">
    <div class="col">
        <form asp-action="LeaderboardResults" asp-controller="Result" method="get">
            <div class="form-row">
                <div class="form-group col-lg">
                    <label for="">Harjutus</label>
                    @{
                        var exerciselist = new SelectList(Model.Exercises, "Id", "Name");
                        if (!exerciselist.Any())
                        {
                            <a style="margin-bottom:10px" class="btn btn-primary " asp-action="ExerciseList" method="get">
                                Näita kõiki
                            </a>
                            <p>Ühtegi harjutust ei leitud : <label id="inputLabel">@Context.Request.Query["name"]</label> </p>
                        }
                        else
                        {
                            <select class="form-control" name="exerciseId" asp-items="exerciselist"></select>

                        }
                    }
                </div>
                <div class="form-group col-lg col-md-6 col-sm-3">
                    <label for="">Klass</label>
                    @{
                        var list = new SelectList(Model.Classes);
                        <select class="form-control" name="classNumber" asp-items="list"></select>
                    }
                </div>
                <div class="form-group col-lg col-md-6 col-sm-9">
                    <label for="">Sugu</label>
                    @{
                        var sugu = new { Id = (int)Gender.Man, Name = "Poisid" };
                        var sugu2 = new { Id = (int)Gender.Woman, Name = "Tüdrukud" };

                        var list2 = new SelectList(new[] { sugu, sugu2 }.ToList(), "Id", "Name");
                        <select class="form-control" name="gender" asp-items="list2"></select>
                    }
                </div>
                <div class="col-auto d-flex align-items-end">
                    <button class="btn btn-primary btn-wide mb-3" type="submit">Näita tulemusi</button>
                </div>
            </div>
        </form>
    </div>


</div>

