@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
        </div>
        <div class="col">
            <h1>Tere tulemast spordipäevikusse</h1>
            <p>Antud rakenduses saab näha oma kehalises kasvatuses sooritatud tulemusi. Konto loomiseks võta ühendust kooli administraatoriga</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>

