@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
    var tempval = TempData["successmessage"] as string;
}
@if (!string.IsNullOrWhiteSpace(tempval))
{
    <div id="messages" class="alert alert-success alert-dismissible" role="alert">
        <div id="messages_content">@tempval</div>
    </div>
}
<div class="row ">
    <div class="col">
        Seadista perdioode
    </div>
    <div class="col">
        <button class="btn btn-success">Perdioodid</button>
    </div>
</div>

<div class="row">
    <div class="col">
        Uuenda uue õppeaasta klassinumbreid
    </div>
    <div class="col">
        <form method="post">
            <button asp-action="ChangeClassNumbers"class="btn btn-success">Uuenda</button>
        </form>
    </div>
</div>
