@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
    var tempval = TempData["successmessage"] as string;
}
@if (!string.IsNullOrWhiteSpace(tempval))
{
    <div id="messages" class="alert alert-success alert-dismissible" role="alert">
        <div id="messages_content">@tempval</div>
    </div>
}
<div class="row form-group">
    <div class="col-lg ">
        Seadista perioode
    </div>
    <div class="col ">
        <button class="btn btn-primary">perioode</button>
    </div>
</div>

<div class="row">
    <div class="col-lg">
        Uuenda uue õppeaasta klassinumbreid
    </div>
    <div class="col-lg">
        <form method="post">
            <button asp-action="ChangeClassNumbers"class="btn btn-primary">Uuenda</button>
        </form>
    </div>
</div>
